@page
@model ListModel
@{
    ViewData["Title"] = "Contacts";
}

<h1 class="text-center">Contacts</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="fas fa-arrow-right" ></i>
                </button>
            </span>
        </div>
    </div>
</form>


@foreach(var contact in Model.Contacts)
{
    <partial name="_Summary" model="contact" />
}

<a class="btn btn-primary" asp-page=".\Edit">Add</a>

@section  footer {

<div>@Model.Message</div>

    }