@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Audemus</h1>
    
    <p>Welcome to Audemus remote logging information. Here all employees can log in their interactions with potential clients</p>
</div>
