@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>We are a veteran owned and operated company that with a diverse field of employees bringing a vast amount of knowledge and impecable skillset to the table</p>
<p>For all Private Investigations a minimum of a 10 hour retainer must be payed for up front. However, we recomend starting off with a 20 or more hour retainer as 
    we offer a 10% discount for each additional 10 hours purchased. So a 20 hour retainer would be 20% discount etc...Prices start aroudn $1,250 for a 10 hour retainer</p>
<ul>
    <li>Private Security</li>
    <li>Private Investigations</li>
    <li>E-Discovery (in house or remote)</li>
    <li>Litigation Support</li>
</ul>
